// DEFAULT COLORS
// set color schemer defaults
$c-primary: #0e91c0
$base-color: $c-primary
$color-scheme: accented-analogic
$hue-offset: 75
$brightness-offset: 30%
$color-theory: ryb
$equalize: false
// colors
$bbm-blue: $c-primary
$bbm-blue-light: scale-color(adjust-hue($bbm-blue, 0deg), $saturation: -5%, $lightness: 34%)
$bbm-green: scale-color(color-schemer(tertiary), $saturation: -70%, $lightness: 30%)
$bbm-green-light: scale-color(adjust-hue($bbm-green, 0deg), $saturation: -5%, $lightness: 34%)
$bbm-red-dark: scale-color(color-schemer(quadrary), $saturation: 30%, $lightness: -30%)
$bbm-red: color-schemer(quadrary)
$not-black: change-color($black, $lightness: 10%)
$blue-near-black: change-color($bbm-blue, $lightness: 10%)
$pale-red: tint($bbm-red, 95%)
$pale-blue: tint($bbm-blue, 95%)

// Color variables expected 04-base
$base-color: $blue-near-black
$text-color: $blue-near-black
$alt-color: $bbm-green-light
$background-color: $pale-red
$border-color: $gray

// link colors
$link-normal: $bbm-blue-light
$link-hover: $bbm-red-dark
$link-active: $bbm-red-dark
$link-visited: $bbm-blue-light
$link-focus: $bbm-blue-light
$link-border-normal: $bbm-blue-light
$link-border-hover: $bbm-red-dark
$link-border-active: $bbm-red-dark
$link-border-visited: $bbm-blue-light


