// Create the design for your site below
// SITE-WIDE DESIGN -------------------------------------------------------------- */

// hide link to skip to nav
#skip-link
  @extend %visuallyhidden

// replace site name with logo
#site-name
  margin-bottom: 15px
  a
    +replace-text-with-dimensions('bbm-logo.png')
    max-width: 100%
    display: block
    +undo-border-links

#site-slogan
  @extend %h2


.element-invisible
  @extend %visuallyhidden

body
  +padding-leader

nav.main-menu
  clear: both
  +padding-leader
  +trailer(2)
  ul
    +adjust-font-size-to(ms(2))
  li
    &.first
      padding-left: 0
  a
    display: inline-block
    min-width: 12%
    padding: 0 0.5em 0 0.25em
    line-height: 1.4
    +book-border
    margin: 9px 0

.block
  .title
    margin-bottom: 0.5em


%book-grid-2
  .abaproduct-content
    +span-columns(3,6)
    +nth-omega(2n)

#block-block-1
  @extend %book-grid-2

#main
  h2.title
    @extend %thick-green-border
    margin-bottom: 21px

img
  border: 1px solid $bbm-gray-light

.block
  h2.title
    a
      +undo-border-links


////////////////////////////
// debug
////////////////////////////
// #page
//   border-top: 1px solid rgba($bbm-gray-light, 0.5)
//   border-right: 1px solid rgba($bbm-gray-light, 0.5)
//   border-left: 1px solid rgba($bbm-gray-light, 0.5)
// img,
// #admin-menu,
// .tabs
//   display: none !important

// body.admin-menu
//   margin-top: 0 !important
