.map
  +replace-text('bbm-map.png')
  height: $base-line-height * 7
  background-position: 50% -120px
  border-bottom: 1px solid $bbm-green
  margin:
    left: -0.5em
    right: -0.5em
.vcard
  background-color: rgba($bbm-green-light, 0.25)
  margin:
    left: -0.5em
    right: -0.5em
  padding:
    left: 0.5em
    right: 0.5em
  border-bottom: 1px solid $bbm-green
  i
    @extend .ss-icon.ss-standard
    margin-right: 0.5em
    color: $bbm-blue


.hours
  i
    @extend .ss-icon.ss-standard
    margin-right: 0.5em
    color: $bbm-blue

.social
  i
    @extend .ss-icon.ss-social
    margin-right: 0.5em
    color: $bbm-blue

#block-block-6
  padding-left: 16px
